In [9]:
import numpy as np
import keras as K
import tensorflow as tf
import os
import pandas as pd
from sklearn.model_selection import train_test_split

In [10]:
np.random.seed(1)
print(tf.__version__)

df = pd.read_csv("Gungor_2018_VictorianAuthorAttribution_data-train.csv")

df['author'].unique()

1.14.0

array([ 1,  2,  3,  4,  6,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
       20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37,
       38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 50])

In [11]:
p = np.random.permutation(df['author'].unique())
trainclass = p[:40]
fewclass = p[40:]

trainingclasses = df[df['author'].isin(trainclass)]

fewclasses = df[df['author'].isin(fewclass)]

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.manifold import TSNE
from sklearn.datasets import fetch_mldata
from sklearn.decomposition import PCA
from sklearn.metrics import confusion_matrix

from keras.preprocessing.text import Tokenizer
from keras.preprocessing.text import one_hot, Tokenizer
from keras.preprocessing.sequence import pad_sequences

from keras.models import Sequential, Model

from keras.layers import *
from keras.layers import Dense, Dropout, Embedding, LSTM, Bidirectional


os.environ['TF_CPP_MIN_LOG_LEVEL']='2'

In [13]:
x = np.array(trainingclasses['text'])
y = np.array(pd.factorize(trainingclasses['author'])[0])

In [167]:
max_words = 20000
                
tokenizer = Tokenizer(20000)
tokenizer.fit_on_texts(x)
sequences = tokenizer.texts_to_sequences(x)

train_x, test_x, train_y, test_y = train_test_split(sequences, y, test_size=0.33, random_state=42)
max_review_len = 1000
train_x = K.preprocessing.sequence.pad_sequences(train_x,
  truncating='pre', padding='pre', maxlen=max_review_len)  # pad and chop!
test_x = K.preprocessing.sequence.pad_sequences(test_x,
  truncating='pre', padding='pre', maxlen=max_review_len)

In [168]:
sequences[0]

[2310,
 28,
 75,
 4,
 1117,
 6,
 59,
 195,
 13,
 1,
 1962,
 449,
 8,
 35,
 10,
 112,
 515,
 1,
 4356,
 3,
 5,
 827,
 2644,
 2,
 1460,
 174,
 15,
 1085,
 15,
 44,
 3,
 67,
 106,
 4835,
 6,
 19,
 1,
 75,
 4,
 1117,
 3,
 238,
 44,
 77,
 75,
 18,
 261,
 2,
 438,
 1185,
 7,
 1,
 250,
 171,
 4,
 292,
 1,
 1204,
 11,
 7,
 5,
 7514,
 2,
 17,
 31,
 84,
 27,
 1,
 909,
 17,
 1,
 4545,
 47,
 277,
 58,
 26,
 177,
 27,
 5,
 1230,
 4,
 1,
 15,
 1,
 9388,
 11,
 82,
 205,
 144,
 52,
 47,
 636,
 1,
 145,
 47,
 9279,
 1,
 4388,
 152,
 47,
 708,
 45,
 18,
 40,
 1077,
 3807,
 27,
 1,
 113,
 128,
 4,
 31,
 254,
 573,
 2,
 1214,
 1,
 449,
 10,
 11,
 244,
 174,
 3492,
 18,
 421,
 2,
 6,
 226,
 31,
 254,
 17,
 2011,
 9,
 6,
 90,
 26,
 177,
 191,
 10,
 7,
 1668,
 18,
 31,
 2910,
 6,
 35,
 6,
 90,
 133,
 5,
 214,
 9790,
 7,
 10,
 18,
 1,
 780,
 3,
 3639,
 448,
 24,
 7,
 1,
 1030,
 50,
 863,
 1,
 1088,
 8,
 19,
 347,
 37,
 10,
 50,
 5358,
 31,
 2437,
 41,
 6,
 4,
 453,
 27,
 34,
 1968,
 1,
 411,
 9,
 96,
 25,
 8892,
 7,
 1,
 1802,
 23,
 172,
 6,
 28,
 408,
 3434,
 258,
 116,
 89,
 3,
 1,
 4505,
 18,
 1,
 351,
 6,
 96,
 3972,
 13,
 46,
 138,
 61,
 4,
 1,
 7003,
 9,
 863,
 481,
 6,
 7,
 5,
 10,
 11,
 63,
 534,
 7,
 1,
 241,
 2,
 1,
 3333,
 4,
 1,
 362,
 3,
 1,
 141,
 816,
 27,
 1,
 1,
 7280,
 7165,
 4,
 1,
 946,
 18,
 1,
 8384,
 4,
 33,
 8,
 3562,
 272,
 21,
 874,
 178,
 1878,
 2,
 1906,
 12,
 4554,
 68,
 1,
 17,
 5,
 943,
 6502,
 38,
 4334,
 3,
 3567,
 5411,
 114,
 8,
 235,
 7,
 12,
 2513,
 2,
 1,
 141,
 65,
 55,
 501,
 206,
 5,
 279,
 3,
 1,
 1258,
 19,
 43,
 1192,
 7,
 1,
 1076,
 3,
 1,
 411,
 2076,
 8,
 361,
 17,
 5,
 2623,
 3,
 12,
 139,
 15,
 874,
 966,
 15,
 1,
 2660,
 385,
 29,
 1,
 85,
 8,
 493,
 40,
 534,
 2290,
 247,
 1,
 3,
 2,
 15,
 8,
 19,
 53,
 7,
 1,
 706,
 470,
 181,
 266,
 7352,
 24,
 5,
 363,
 75,
 44,
 912,
 11,
 15,
 1185,
 4,
 30,
 15,
 173,
 1,
 207,
 12,
 124,
 3841,
 2,
 273,
 4,
 12,
 4033,
 29,
 156,
 463,
 4746,
 7985,
 9,
 39,
 448,
 2,
 8500,
 44,
 9059,
 4,
 34,
 1383,
 3,
 607,
 79,
 128,
 729,
 1,
 3720,
 8,
 484,
 1,
 487,
 793,
 3,
 33,
 8,
 190,
 5,
 229,
 15,
 7109,
 144,
 1,
 287,
 15,
 73,
 9531,
 8,
 7280,
 651,
 248,
 38,
 4848,
 2,
 221,
 10,
 11,
 2019,
 9,
 2332,
 11,
 21,
 1840,
 29,
 12,
 5967,
 8,
 7280,
 221,
 45,
 20,
 43,
 85,
 2935,
 322,
 4,
 1,
 3,
 38,
 1,
 5027,
 3,
 5,
 4,
 1,
 7956,
 55,
 3063,
 5,
 3425,
 3,
 38,
 1,
 42,
 3,
 7669,
 38,
 1,
 2223,
 114,
 1,
 1808,
 2538,
 49,
 18,
 5,
 152,
 1,
 238,
 3,
 1,
 592,
 372,
 325,
 1,
 1144,
 4506,
 10,
 323,
 175,
 1,
 4615,
 15,
 2425,
 15,
 502,
 1468,
 7,
 695,
 44,
 5110,
 698,
 9,
 59,
 25,
 15,
 215,
 15,
 503,
 1191,
 81,
 8488,
 350,
 1,
 556,
 20,
 7,
 91,
 2542,
 27,
 433,
 219,
 3,
 1,
 4506,
 124,
 1088,
 3,
 6993,
 2439,
 7,
 1,
 534,
 260,
 54,
 9400,
 18,
 1,
 129,
 229,
 148,
 4182,
 11,
 154,
 1640,
 1198,
 15,
 22,
 20,
 26,
 32,
 328,
 34,
 3340,
 793,
 20,
 87,
 39,
 405,
 15,
 52,
 7,
 3615,
 5,
 9300,
 325,
 16,
 8717,
 1051,
 153,
 93,
 6874,
 20,
 74,
 1486,
 2816,
 144,
 5,
 705,
 114,
 533,
 7,
 6371,
 7,
 45,
 20,
 43,
 6856,
 879,
 3,
 73,
 2037,
 21,
 5,
 457,
 4606,
 5874,
 6622,
 1956,
 3608,
 12,
 584,
 76,
 16,
 1,
 1330,
 26,
 33,
 13,
 3519,
 29,
 1091,
 20,
 26,
 40,
 2300,
 1403,
 3,
 1,
 7,
 5,
 470,
 2,
 137,
 91,
 667,
 1381,
 20,
 5586,
 29,
 1,
 5521,
 1,
 82,
 3,
 5967,
 42,
 2748,
 752,
 49,
 1,
 1842,
 33,
 133,
 501,
 61,
 7191,
 18,
 1,
 993,
 71,
 5,
 1368,
 955,
 102,
 1,
 169,
 4152,
 130,
 585,
 2,
 52,
 1,
 470,
 22,
 20,
 1830,
 3,
 149,
 2040,
 6077,
 38,
 1,
 1586,
 3,
 4129,
 42,
 1,
 3,
 1,
 1986,
 9,
 49,
 2331,
 29,
 1783,
 26,
 32,
 508,
 7,
 1,
 3,
 574,
 950,
 1,
 3,
 937,
 8956,
 527,
 4,
 337,
 9,
 10,
 20,
 9515,
 76,
 30,
 4,
 6023,
 1,
 6664,
 3,
 1,
 3937,
 102,
 33,
 44,
 112,
 7731,
 1,
 365,
 52,
 45,
 20,
 5,
 458,
 734,
 804,
 58,
 4,
 220,
 85,
 7,
 6529,
 2152,
 856,
 26,
 1143,
 3,
 1,
 219,
 4,
 1580,
 8778,
 17,
 4033,
 2469,
 2816,
 38,
 465,
 1,
 698,
 2,
 2792,
 3,
 5,
 1403,
 738,
 7,
 3680,
 3,
 1,
 562,
 4864,
 3,
 54,
 470,
 36,
 2426,
 18,
 508,
 7,
 665,
 3,
 1,
 1686,
 6221,
 17,
 15,
 89,
 695,
 15,
 5,
 5768,
 3,
 1551,
 1298,
 7,
 40,
 6905,
 1358,
 24,
 18,
 115,
 203,
 50,
 25,
 15,
 595,
 15,
 1,
 7,
 33,
 1,
 5196,
 20,
 78,
 4,
 1712,
 42,
 15,
 5,
 7,
 5,
 8274,
 2989,
 26,
 1,
 241,
 321,
 52,
 141,
 820,
 1594,
 7,
 12,
 175,
 1,
 115,
 6024,
 19,
 82,
 3867,
 1465,
 2,
 1,
 1114,
 8,
 232,
 7,
 12,
 6153,
 11,
 105,
 8,
 493,
 1,
 695,
 3,
 3247,
 17,
 1,
 2006,
 38,
 479,
 29,
 12,
 588,
 1,
 592,
 190,
 29,
 5,
 2028,
 42,
 1,
 728,
 3,
 5,
 2064,
 350,
 127,
 28,
 7808,
 1,
 7709,
 3,
 1,
 181,
 266,
 1535,
 305,
 2,
 81,
 2771,
 3629,
 36,
 675,
 7,
 1,
 45,
 59,
 25,
 43,
 695,
 39,
 552,
 74,
 10,
 15,
 4,
 7895,
 27,
 1,
 1807,
 3,
 5,
 4506,
 1,
 5153,
 1,
 2174,
 3,
 5,
 587,
 272,
 21,
 195,
 1,
 169,
 1469,
 18,
 45,
 20,
 5,
 7485,
 2290,
 7,
 1998,
 93,
 1,
 2933,
 389,
 81,
 25,
 8545,
 43,
 592,
 29,
 4073,
 137,
 1,
 9437,
 70,
 9750,
 10,
 18,
 1,
 1381,
 3,
 1,
 3099,
 286,
 756,
 25,
 2,
 1,
 3064,
 3,
 1,
 365,
 7,
 1021,
 3,
 32,
 7603,
 4,
 1,
 6598,
 1,
 112,
 195,
 61,
 1701,
 15,
 22,
 1273,
 74,
 447,
 1,
 1817,
 3,
 1,
 375,
 24,
 22,
 272,
 21,
 9791,
 1,
 2679,
 2,
 9139,
 1,
 68,
 173,
 188,
 38,
 33,
 8,
 112,
 473,
 26,
 517,
 82,
 1,
 272,
 34,
 168,
 83,
 820]

In [150]:
x.shape

(48472,)

In [151]:
x2 = np.array(fewclasses['text'])
y2 = np.array(pd.factorize(fewclasses['author'])[0])

In [152]:
x2.shape

(5206,)

In [153]:
from keras.models import load_model

model = load_model('model_fewshot_1.h5')

/home/tokyotechies/miniconda3/envs/author_classification/lib/python3.6/site-packages/keras/engine/training_utils.py:819: UserWarning: Output features missing from loss dictionary. We assume this was done on purpose. The fit and evaluate APIs will not be expecting any data to be passed to features.
  'be expecting any data to be passed to {0}.'.format(name))

In [154]:
x3 = []

for i in range(5):
    x3.append(np.random.choice(x2[y2==i], size=5))

In [155]:
print(train_x.shape)
print(x2.shape)
print(np.array(x3).ravel().shape)

(32476, 1000)
(5206,)
(25,)

In [156]:
x3 = np.array(x3).ravel()

In [157]:
sequences = tokenizer.texts_to_sequences(x3)
test_x3 = tokenizer.texts_to_sequences(x2)



max_review_len = 1000
train_x = K.preprocessing.sequence.pad_sequences(sequences,
  truncating='pre', padding='pre', maxlen=max_review_len)  # pad and chop!
test_x = K.preprocessing.sequence.pad_sequences(test_x3,
  truncating='pre', padding='pre', maxlen=max_review_len)

In [158]:
train_features, _ = model.predict(train_x)

In [159]:
test_features, _ = model.predict(np.array(test_x3))

In [160]:
train_features = np.expand_dims(train_features, axis=0)
test_features = np.expand_dims(test_features, axis=1)

In [161]:


print(train_features.shape)
print(test_features.shape)

(1, 25, 40)
(5206, 1, 40)

In [162]:
dif = train_features - test_features

In [163]:
print(dif.shape)

(5206, 25, 40)

In [164]:


distance = np.linalg.norm(dif, axis=2)
#predictions = np.argmin(distance, axis=1)
index = np.argpartition(distance, 5, axis=1)
values = index[:,:5]//5
predictions = []
for row in values:
    unique, counts = np.unique(row, return_counts=True)
    prediction = unique[np.argmax(counts)]
    predictions.append(prediction)

predictions = np.array(predictions)


print(predictions.shape)

(5206,)

In [165]:
np.sum(predictions == y2)/5206

0.2656550134460238

In [110]:
predictions[:10]

array([2, 2, 4, 3, 3, 4, 1, 4, 4, 0])

In [100]:
unique.shape

(1325, 5)

In [84]:
min(predictions)

0

0.33480599308490205

In [50]:
model.save('model_fewshot_1.h5')

In [151]:
min(y2)

0